p{
    display: inline;
}

.mc{
    width: 1121px;
    border: 1px solid #D4D4D4;
    border-radius: 10px;
    background: #FFFFFF;
    margin-left: 34px;
}

div{
    display: inline;
}

.product{
    
    margin-left: 55px;
}

.work_count{
    margin-left: 46px;
}

.product_name > select{
    height: 34px;
    border-radius: 5px;
    border: 0.5px solid #D5D5D5;
}

.work_count > .input{
    width: 83px;
    height: 34px;
    border-radius: 5px;
    border: 0.5px solid #D5D5D5;
}

.work_count > .asdf{
    width: 56px;
    height: 34px;
    background: #F2F2F2;
    margin-bottom: 2px;
    border-radius: 5px;
    border: 0.5px solid #D5D5D5;
}

.tool_box{
    padding-top: 43px;  
    display: flex;
    flex-direction: column;
}

.show-container{
    display: flex;
    flex-direction: column;
    padding: 22px;
    margin-right: 45px;
    margin-top: 38px;
    margin-left: 45px;
    margin-bottom: 20px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    background: #F8F8F8;
}

.category{
    display: flex;
}

.category_value{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 5px;
    height: 34px;
}


.c_text{
    width: 100px;
    margin-right: 10px;
}

.c_content{
}

.feel{
    margin-top: 46px;
    display: flex;
}

.feel > div{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.result-container{
    margin-left: 45px;
    margin-right: 45px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.result_main{
    display: flex;
    flex-direction: column; 
    text-align: center;
}

.s_box{
    display: flex;
    justify-content: center;
    align-items: center;    
}

#bubble{
    display: none;
    position: absolute;
    width: 81px;
    height: 36px;
    background: #F2F2F2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

/* #bubble > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px ;
    gap: 10px;
    width: 38px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #585757;
    border-radius: 10px;
    font-size: 12px;
} */

#bubble > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px ;
    gap: 10px;
    width: 38px;
    height: 30px;
    font-size: 12px;
}

.bottom{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 16px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 22px;
}

.bet{
    display: flex;
    flex-direction: row;
}
.work_result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 15px;
}
.work_result > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #D5D5D5;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 15px;
    height: 44px;
    gap: 10px;
}

.select_box{
    width: 90%;
    padding-top: 20px;
    margin-bottom: 32px;
    border-top: 1px solid #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view{
    width: fit-content;
    display: inline-block;
    /* background: ; */
}

.current_target{
    line-height: 1.5;
}

.cate{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 10px 5px 10px;
    gap: 15px;
    height: 28px;
    border-radius: 5px;
}

#s{
    border-radius: 5px;
    width: 37px;
    height: 25px;
}

.category_id{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 15px;
    width: 87px;
    height: 34px;
    background: #FFFFFF;
    border: 0.5px solid #D5D5D5;
    border-radius: 5px;
}

#in_target{
    padding: 5px 10px;
    gap: 10px;
    width: 87px;
    height: 34px;
    background: #FFFFFF;
    border: 0.5px solid #D5D5D5;
    border-radius: 5px;
}

#in_phenomenon{
    padding: 5px 10px;
    gap: 10px;
    width: 87px;
    height: 34px;
    background: #FFFFFF;
    border: 0.5px solid #D5D5D5;
    border-radius: 5px;
}

.labeled_emotion{
    padding: 5px 10px;
    gap: 10px;
    width: 87px;
    height: 34px;
    background: #FFFFFF;
    border: 0.5px solid #D5D5D5;
    border-radius: 5px;
}

.submit_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    gap: 15px;
    width: 56px;
    height: 34px;
    background: #585757;
    border-radius: 5px;
}

#trash{
    background: #FFF4F7;
    color:#A50034;
}

#trash > div{
    margin-top: 5px;
}

.x{
    width: 17px;
    height: 17px;
    background: #F2F2F2;;
    border: 0.5px solid #D5D5D5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
}