# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django database file
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# Secret key
*.secret

# Virtual environment
venv/
env/

# IDE-specific files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Local development settings
local_settings.py

# Log files
*.log

# Django migrations
migrations/

# macOS-specific
.DS_Store

# database_config
database_config.py