{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "uploadapp/css/upload_main.css" %}">
{% endblock %}
{% block content-title %}

<h2 class="content-title fs-large fw-600 gray-200">
    Data Upload
</h2>    
{% endblock %}
{% block content %}

<div class="first-desc primary-bg gray-100">
    <div class="first-desc-wrap">
        <div class= "product">
            <form action="" method="get" class="first" name="afgsgd">
                {% csrf_token %}
                <div class="product_choice">
                  <p class="subject fs-base">제품 선택</p>
                  <select name='category_product' id="product_select" >
                    {% for product_name in product_names %}
                            <option id= "s"  value='{{ product_name.category_product }}'>{{ product_name.category_product }}</option>
                    {% endfor %}
                  </select>
                </div>
              </form>
              <script>
                document.addEventListener("DOMContentLoaded", function() {
                  var select = document.getElementById("product_select");
                  var storedValue = localStorage.getItem("product_select");
                  if (storedValue) {
                    select.value = storedValue;
                  }
                  select.addEventListener("change", function() {
                    localStorage.setItem("product_select", this.value);
                  });
                });
                </script>
              <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
              <script>
                
                 $(document).ready(function() {
                  $('#product_select').change(function() {
                    $('form[name="afgsgd"]').submit();
                  });
                });
              </script>
              
            <form action="" method="post" class= "second">
                {% csrf_token %}
                <div class="product_add">
                    <p class="subject fs-base">제품 추가</p>
                    <input class="input" type="text" name="product_add">
                    <input class="asdf btn btn-outline-dark btn-sm" type="submit" value="확인">
                </div>
            </form>
        </div>

        <div class="category">
            <div class="subject">
                <p>카테고리</p>
            </div>

            <div class="show_container">
                <!-- 카테고리 리스트 -->
                <div class="category_value">
                    {% if category_detail %}
                        {% for category_detail in category_detail %}
                            <div class="c_content fs-base" style="background-color: {{ category_detail.category_color }}; opacity: 1;">
                                {{ category_detail.category_middle }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
    
                <!-- 카테고리 생성 -->
                <form class="category_add" action="{% url 'uploadapp:upload' %}" method="post" id="formOne">
                    {% csrf_token %}
                    <div class="add">
                        <input type="hidden" name="form-type" value="formOne">
                        <label for="category-label">
                            <input class="category_name fs-small" type="text" name="category_middle" id="category-label" placeholder="카테고리명을 입력해주세요">
                        </label>
                        <label for="color-label">
                            <input class="category_color" type='color' name="category_color" id="color-label" value='#0000ff'>
                        </label>
    
                        <button class="category_plus " type="submit" name="category_submit" value="submit">추가</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="fileload">
            <div class="upload_title">
                <p class="subject fs-base">파일 업로드</p>
                <p style="float:right; margin: 0 0 0 0; display:inline-block; color: blue; font-weight: bold">{{ request.session.message }}</p>
            </div>
    
            <!--엑셀 파일 업로드하기-->
            <div class="file_upload">
                <form name="form2" action="{% url 'uploadapp:upload' %}" method="post" id="formTwo" enctype="multipart/form-data">
                    {% csrf_token %}
                <input type="hidden" name="form-type" value="formTwo">
                <label for="file">
                    <div class="btn-upload fs-small">파일 선택</div>
                </label>
                    <input class="file_choice sr-only" type="file" name="upload_file" id="file">
                    <input type="hidden" value="{{ request.session.category_product }}" name="category_product">

                <label for="file">
                    <div class="file_name fs-small">선택된 파일 없음.</div>
                </label>
                <script>
                    window.onload=function(){
                        target=document.getElementById('file'); // file 아이디 선언
                        target.addEventListener('change',function(){ // change 함수
                            
                            if(target.value.length){ // 파일 첨부인 상태일경우 파일명 출력
                                $('.file_name').html(target.files[0].name);
                            }else{ //버튼 클릭후 취소(파일 첨부 없을 경우)할때 파일명값 안보이게
                                $('.file_name').html("");
                            }
                            
                        });
                    }
                </script>
                
    
                    <!--카테고리 선택 시에만 파일 업로드 가능-->
                    {% if request.session.category_product is not null %}
                        <input class="send_btn fs-small" type="submit" value="제출">
                    {% else %}
                        <p style="float: right; display: inline-block; font-family: 'Nanum Gothic Coding', monospace; font-weight: 570; color: saddlebrown">카테고리를 선택해주시기 바랍니다.</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}