{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "labelingapp/css/labeling_work.css" %}">
{% endblock %}
<style>
    .drag {
      cursor: move;
    }
    .bubble {
      position: absolute;
      background-color: #ffffff;
      border: 1px solid #000000;
      padding: 10px;
      border-radius: 5px;
    }
</style>

<!-- content title 부분 -->
{% block content-title %}
    <h2 class="content-title fs-large fw-600 gray-200">
        Data Labeling
    </h2>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="tool_box">
            <form action="{% url 'labelingapp:work' %}" method="get">
                {% csrf_token %}
                <div class="product">
                    <div class="product_name">
                        <p>제품명</p>
                        <select name='category_product'>
                            {% for product_name in product_names %}
                                <option value='{{ product_name.category_product }}'>{{ product_name.category_product }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="work_count">
                        <p>작업 개수</p>
                        <input class="input" type="text" name="assignment_count" value="50" placeholder="작업할 리뷰 개수 설정">
                        <input class="asdf btn btn-outline-dark btn-sm" type="submit" value="확인">
                        
                    </div>
                </div>
            </form>
            <div class="show_container">
                <div class="category">
                    <div class="c_text">카테고리</div>
                    <div class="c_content">
                        {% if category_detail %}
                            {% for category_detail in category_detail %}
                                <div class="category_value" style="background-color: {{ category_detail.category_color }};
                                         opacity: 1; margin-bottom:.5rem">
                                    <p>{{ category_detail.category_middle }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="feel">
                     <p>
                        <div style="border-radius: 5px; display: inline-block; font-family: 'Nanum Gothic Coding', monospace; font-weight: 300; margin-left: 0.2rem; font-size: 1rem">
                            감정
                        </div>
                        <div style="border-radius: 5px; border: 0.5px solid #0038FF; display: inline-block; height: 34px; width: 55px; background-color: white; margin-left: 15px;
                                padding:0.3rem; color: blue; text-align: center; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;">
                            긍정
                        </div>
                        <div style="border-radius: 5px; border: 0.5px solid #FF0000; display: inline-block; height: 34px; width: 55px; background-color: white; margin-left: 15px;
                                padding:0.3rem; color: red; text-align: center; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;">
                            부정
                        </div>
                        <div style="border-radius: 5px; border: 0.5px solid #585757; display: inline-block; height: 34px; width: 55px; background-color: white; margin-left: 15px;
                                padding:0.3rem; color: gray; text-align: center; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;">
                            중립
                        </div>
                    </p>
                </div>
                
                
            </div>
            {% for review_first in review_first %}
                <div class="result_container">
                
                    <div class="result_main">
                        <script>
                            window.addEventListener('DOMContentLoaded', function() {
                                let selection = '';
                                document.addEventListener('mouseup', function(event) {
                                    if (event.target.classList.contains('dragg')) {
                                        selection = window.getSelection().toString();
                                        localStorage.setItem('selection', JSON.stringify(selection));
                                        console.log('Selected text:', selection);
                                        if (selection !== '') {
                                            const x = event.clientX;
                                            const y = event.clientY;
                                            console.log('Mouse up at:', x, y);
                                            console.log(selection);
                                            const bubble = document.getElementById("bubble");
                                            bubble.style.display = "flex";
                                            bubble.style.flex_direction = "row";
                                            bubble.style.align_items = "flex-start";
                                            bubble.style.padding = "3px";
                                            bubble.style.top = (y - 50) + 'px';
                                            bubble.style.left = (x - 25) + 'px';
                                            setTimeout(function() {
                                                bubble.style.display = 'none';
                                            }, 5000);
                                            selection = '';
                                        }
                                    }
                                });
                            });
                            
                          </script>
                        <div id="bubble">
                            <div id="target" style="border-right:1px solid rgba(102, 102, 102, 0.4)"
                                onclick='target()'
                            >
                                대상
                            </div>
                            <div id="phenomenon" onclick="phenomenon()">
                                현상
                            </div>
                            <script>
                                function phenomenon(){
                                    const phenomenon = document.getElementById('phenomenon');
                                    phenomenon.style.border = "1px solid #585757";
                                    phenomenon.style.borderRadius = "10px";
                                    phenomenon.style.background = "#FFFFFF";
                                    const target = document.getElementById('target');
                                    target.style.border = "none";
                                    target.style.background = '#F2F2F2';
                                    const in_phenomenon = document.getElementById('in_phenomenon');
                                    in_phenomenon.value = localStorage.getItem('selection').replace(/"/g, "");;
                                }
                                
                                function target(){
                                    const target = document.getElementById('target');
                                    target.style.border = "1px solid #585757";
                                    target.style.borderRadius = "10px";
                                    target.style.background = "#FFFFFF";
                                    const phenomenon = document.getElementById('phenomenon');
                                    phenomenon.style.border = "none";
                                    phenomenon.style.background = '#F2F2F2';
                                    const in_target = document.getElementById('in_target');
                                    in_target.value = localStorage.getItem('selection').replace(/"/g, "");
                                }
                            </script>
                        </div>
                        <p>
                        <!-- 하이라이트 부분, 클래스로 적용할 부분 지정, repalce함수를 통해 status_result로 받아온 글에 해당되는 부분 라벨링 -->
                            {{ review_first.review_number }}.
                            <span class="current_target dragg">{{ review_first.review_content }}</span>
                            <script>
                                function select_result(target,expression){
                                    const view = document.querySelectorAll('.view');
                                    view.forEach(view => {
                                        view.style.backgroundColor = "white"
                                    });
                                    const s_view = document.getElementById(target+expression);
                                    s_view.style.background = "#F2F2F2";
                                    const work_result = document.querySelectorAll('#s');
                                    work_result.forEach(work_result => {
                                        if(work_result != null){
                                            work_result.style.backgroundColor = "white";
                                        }
                                    });
                                    {% for status_result in status_result %}
                                        if(target == "{{status_result.first_labeled_target}}"){
                                            $('.current_target').each(function () {
                                                $(this).html($(this).html().replace("{{status_result.first_labeled_target}}", '<span id="s" style="background-color:{{ status_result.category_id.category_color }}">{{status_result.first_labeled_target}}</span>'));
                                                $(this).html($(this).html().replace("{{status_result.first_labeled_expression}}", '<span id="s" style="background-color:{{ status_result.category_id.category_color }}">{{status_result.first_labeled_expression}}</span>'));
                                            });
                                        }  
                                    {% endfor %}
                                }
                                
                                {% comment %} {% for status_result in status_result %}
                                $('.current_target').each(function () {
                                    $(this).html($(this).html().replace("{{status_result.first_labeled_target}}", '<span style="background-color:{{ status_result.category_id.category_color }}">{{status_result.first_labeled_target}}</span>'));
                                    $(this).html($(this).html().replace("{{status_result.first_labeled_expression}}", '<span style="background-color:{{ status_result.category_id.category_color }}">{{status_result.first_labeled_expression}}</span>'));
                                });
                                {% endfor %} {% endcomment %}
                            </script>

                            <div class="work_result">
                                
                                {% for status_result in status_result %}
                                    {% if status_result.first_labeled_emotion == 'neutral' %}
                                        <div id="{{ status_result.first_labeled_target }}{{ status_result.first_labeled_expression }}" class="view" style="color: gray" onclick="select_result(`{{ status_result.first_labeled_target }}`, `{{ status_result.first_labeled_expression }}`)">
                                            {{ status_result.category_id.category_middle }} -
                                            {{ status_result.first_labeled_target }} -
                                            {{ status_result.first_labeled_expression }}

                                            {# 라벨링 하고 옆에 뜨는 x표시 체크하는 부분 새로고침을 눌러야 현재 적용 #}
                                            <button style="outline: 0; border: 0;background-color:transparent;" onclick="delete_label(`{{ status_result.pk }}`)">x</button>
                                        </div>

                                    {% elif status_result.first_labeled_emotion == 'positive' %}
                                        <div id="{{ status_result.first_labeled_target }}{{ status_result.first_labeled_expression }}" class="view" style="color: blue" onclick="select_result(`{{ status_result.first_labeled_target }}`, `{{ status_result.first_labeled_expression }}`)">
                                            {{ status_result.category_id.category_middle }} -
                                            {{ status_result.first_labeled_target }} -
                                            {{ status_result.first_labeled_expression }}
                                            <button style="outline: 0; border: 0;background-color:transparent;" onclick="delete_label(`{{ status_result.pk }}`)">x</button>
                                        </div>
                                    {% elif status_result.first_labeled_emotion == 'negative' %}
                                    {% csrf_token %}
                                        <div id="{{ status_result.first_labeled_target }}{{ status_result.first_labeled_expression }}" class="view" style="color: red" onclick="select_result(`{{ status_result.first_labeled_target }}`, `{{ status_result.first_labeled_expression }}`)">
                                            {{ status_result.category_id.category_middle }} -
                                            {{ status_result.first_labeled_target }} -
                                            {{ status_result.first_labeled_expression }}
                                            <button style="outline: 0; border: 0;background-color:transparent;" onclick="delete_label(`{{ status_result.pk }}`)">x</button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </p>

                        <p>
                            <form class="select_box" action="" method="post">
                                {% csrf_token %}
                                <div>
                                    <select name='category_id' style="display: inline-block; width: 8rem; height: 1.9rem;
                                                    font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;">
                                        {% for category_detail in category_detail %}
                                        <option value='{{ category_detail.category_id }}'>
                                            {{ category_detail.category_middle }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <input id="in_target" type="text" name="labeled_target" placeholder="키워드">
                                    <input id="in_phenomenon" type="text" name="labeled_expression" placeholder="현상">
                                    <select name="labeled_emotion" style="display: inline-block; width: 8rem; height: 1.9rem;
                                                    font-family: 'Nanum Gothic Coding', monospace; font-weight: 200; ">
                                        <option value="positive">긍정</option>
                                        <option value="negative">부정</option>
                                        <option value="neutral">중립</option>
                                    </select>
                                    <input type="hidden" name="review_id" value="{{ review_first.review_id }}">
                                    <input class="btn btn-outline-success btn-sm" type="submit" value="저장"
                                        onClick="window.location.reload()"
                                        style="font-family: 'Nanum Gothic Coding', monospace; font-weight: 300; font-size: 1rem">
                                </div>
                            </form>
                        </p>
                    </div>
                </div>
                <!-- delete 버튼 및 reset 버튼 및 next 버튼 -->
                    <div class="bottom">
                        <div >
                            <form action="{% url 'labelingapp:work' %}" method="get" id="DummyForm">
                                {% csrf_token %}
                                <input type="hidden" name="form-type" value="DummyForm">
                                <input type="hidden" name="review_id" value="{{ review_first.review_id }}">
                                <input type="hidden" name="category_product" value="{{ category_product }}">
                                <input type="hidden" name="start" value="{{ start }}">
                                <input type="hidden" name="end" value="{{ end }}">
                                <input class="btn btn-outline-danger btn-sm" type="submit" value="버리기"
                                    style="font-family: 'Nanum Gothic Coding', monospace; font-weight: 300; font-size: 1rem;">
                            </form>
                        </div>
    
    
                        <div class="bet">
                            <div >
                                <button class="btn btn-outline-dark btn-sm" onclick="reset(`{{ review_first.review_id }}`)"
                                        style="font-family: 'Nanum Gothic Coding', monospace; font-weight: 300; font-size: 1rem;">초기화
                                </button>
                            </div>
        
                            <div style="margin-left: 20px;">
                                <form action="{% url 'labelingapp:work' %}" method="get" id="NextForm" >
                                    {% csrf_token %}
                                    <input type="hidden" name="form-type" value="NextForm">
                                    <input type="hidden" name="review_id" value="{{ review_first.review_id }}">
                                    <input type="hidden" name="category_product" value="{{ category_product }}">
                                    <input type="hidden" name="start" value="{{ start }}">
                                    <input type="hidden" name="end" value="{{ end }}">
                                    <input class="btn btn-outline-dark btn-sm" type="submit" value="다음"
                                        style="font-family: 'Nanum Gothic Coding', monospace; font-weight: 300; font-size: 1rem">
                                </form>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            
            
        </div>
    </div>    
    
    <script>
        function delete_label(label_number) {
            console.log(label_number)
            $.ajax({
                url: 'delete_label',
                type: 'GET',
                data: {
                    'label_number': label_number,
                },
                dataType: 'json',
                success: function (data) {
                    console.log('삭제 완료')
                    window.location.reload()
                },
                error: function (data) {
                    console.log('에러 발생')
                    window.location.reload()
                }
            })
        }
    
        function reset(review_id) {
            console.log('초기화를 시작해볼깡?')
            $.ajax({
                url: 'reset',
                type: 'GET',
                data: {
                    'review_id': review_id,
                },
                dataType: 'json',
                success: function (data) {
                    console.log('초기화 완료')
                    window.location.reload()
                },
                error: function (data) {
                    console.log('에러 발생')
                    window.location.reload()
                }
            })
        }
    </script>
{% endblock %}