{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<style xmlns:labelingapp="http://www.w3.org/1999/xhtml">
    .subject {
        font-size: 1.2rem;
        font-weight: bold;
    }
    button{
        text-decoration: none;
        color: black;
    }
    button:hover{
        color: red;
    }



</style>


<div style="width: 100%; text-align: center; margin-top: 3rem;">
    <div style="width: 69rem; height: 1rem; margin: 3rem 3rem 3rem 3rem; display: inline-block; margin-top: 0rem">
        <div style="text-align: left; width: 13rem;">
            <p style="font-family: 'Josefin Sans', sans-serif; font-weight: 300; font-size: 1.3rem">
                Data Inspect
            </p>
        </div>
    </div>
    <div>
        <form action="{% url 'labelingapp:inspect' %}" method="get">
            {% csrf_token %}
            <!-- 제품 및 데이터 번호 선택 필드 -->
            <div style="text-align:left; background-color: white; width: 70rem; height: 3rem; display: inline-block; margin-top: 0rem">
                <div style="margin: 0.5rem; font-size: 1rem; display: inline-block" class="subject">
                    <div style="display: inline-block">


                        <div style="text-align: left">
                            <p style="height:1rem; display: inline-block; margin-top: 0rem; margin-bottom: 0rem; font-size: 1.1rem;
                            font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;" class="subject">제품명</p>
                            <select name='category_product' style="display: inline-block; width: 8rem; height: 1.9rem;
                            font-family: 'Nanum Gothic Coding', monospace; font-weight: 200; margin-left: 0.3rem;">
                                {% for product_name in product_names %}
                                    <option value='{{ product_name.category_product }}'>{{ product_name.category_product }}</option>
                                {% endfor %}
                            </select>

                            <!--{{ category_product }}-->
                        </div>

                    </div>
                </div>


<!--                <div style="font-size: 1.1rem; display: inline-block; margin-left: 1.5rem;-->
<!--        font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;" class="subject"> 데이터번호선택-->
<!--                </div>-->
<!--                <div style="display: inline-block; font-family: 'Nanum Gothic Coding', monospace;, monospace; font-weight: 200; margin-left: 0.3rem;">-->
<!--                    <input style="width: 7rem" type="number" name="start" placeholder="ex)1" min="1"-->
<!--                           value="{{ start }}">-->
<!--                    <div style="display: inline-block">~</div>-->
<!--                    <input style="width: 7rem" type="number" name="end" placeholder="ex)10000" value="{{ end }}">-->
<!--                </div>-->
<!--                <div style="font-size: 1rem; display: inline-block" class="subject">-->
<!--                    <input class="btn btn-outline-dark btn-sm" type="submit" value="적용"-->
<!--                           style="margin-left: 0.2rem; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200; font-size: 0.9rem">-->
<!--                </div>-->

                <!--데이터 할당량 개수 지정(수정-라디오버튼으로 데이터 개수 지정)-->
                <div style="display: inline-block; font-family: 'Nanum Gothic Coding', monospace;, monospace; font-weight: 200; margin-left: 0.3rem;">
                    <input type="radio" id="NumberChoice1"
                           name="assignment" value="ten">
                    <label for="NumberChoice1">10개</label>
                    <input type="radio" id="NumberChoice2"
                           name="assignment" value="twenty">
                    <label for="NumberChoice2">20개</label>
                    <input type="radio" id="NumberChoice3"
                           name="assignment" value="thirty">
                    <label for="NumberChoice3">30개</label>
                </div>
                <div style="font-size: 1rem; display: inline-block" class="subject">
                    <input class="btn btn-outline-dark btn-sm" type="submit" value="적용"
                           style="margin-left: 0.2rem; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200; font-size: 0.9rem">
                </div>

                <div style="font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;font-size: 1.1rem; margin-left: 15rem; margin-bottom: 0.5rem; display: inline-block;"
                     class=subject">
                    {% if category_product == "refrigerator" %}
                    <strong>카테고리 : 냉장고</strong>
                    {% elif category_product == "cleaner" %}
                    <strong>카테고리 : 청소기</strong>
                    {% elif category_product == "dish_washer" %}
                    <strong>카테고리 : 식기세척기</strong>
                    {% else %}
                    카테고리
                    {% endif %}
                </div>


            </div>
        </form>
    </div>


    <!--{{ request.session.category_product }}-->

    <!-- Category,sentiment -->
    <div style="text-align: left; background-color: #eeeeee; border-radius: 1rem; width: 70rem; height: 11rem; display: inline-block; margin-left: 0rem; padding-left: 0.5rem">
        <div style="margin-bottom: 0.4rem; margin-top: .7rem; margin-left: 0.2rem; display: inline-block; font-family: 'Nanum Gothic Coding', monospace; font-weight: 300; font-size: 1rem">
            카테고리
        </div>

        <div style="height: 4.5rem">
            {% if category_detail %}
            {% for category_detail in category_detail %}
            <div style="background-color: {{ category_detail.category_color }}; padding:.2rem.3rem.2rem.3rem;
                                    display: inline-block; opacity: 1;
                                    margin-bottom:.5rem">
                {{ category_detail.category_middle }}
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <p>
        <div style="display: inline-block; font-family: 'Nanum Gothic Coding', monospace; font-weight: 300; margin-left: 0.2rem; font-size: 1rem">
            감정
        </div>
        <div style="display: inline-block; height: 2rem; width: 4rem; background-color: white; margin-left: 0.5rem;
                    padding:0.3rem; color: blue; text-align: center; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;">
            긍정
        </div>
        <div style="display: inline-block; height: 2rem; width: 4rem; background-color: white; margin-left: 0.3rem;
                    padding:0.3rem; color: red; text-align: center; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;">
            부정
        </div>
        <div style="display: inline-block; height: 2rem; width: 4rem; background-color: white; margin-left: 0.3rem;
                    padding:0.3rem; color: gray; text-align: center; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;">
            중립
        </div>
        </p>
    </div>

{% comment %}    <!-- 작업필드 -->
    <form action="{% url 'labelingapp:inspect' %}" method="post" id="SuccessForm">
        {% csrf_token %}
        {% if review_assignment_list %}
        <div style="display: inline-block; border: 1px solid #bcbcbc; width: 70rem; height: 30rem;
        margin: 0.5rem auto; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200; overflow-y: scroll; padding: 0.3rem">
            {% for a in review_assignment_list %}
            <p style="height: auto; text-align: left;">
                <div style=" border-bottom:1px solid black; width: 99%; height: auto; margin: auto">
                    <div style="display: inline-block; width: 100%;text-align: left">
                        <input type="hidden" name="full_review" value="{{ a.review_id }}">
                        <input type="checkbox" name="check_review" value="{{ a.review_id }}" checked>
                        {{ a.review_id }}.
                        {{ a.review_content }}<br>
                        {{ a.firstlabeleddata_set.all }}
                    </div>
                </div>
            </p>
            {% endfor %}
        </div>



        <!-- 검수완료 버튼 -->
        <div style="width: 70rem; margin: 0.5rem auto;">
            <input type="hidden" name="form-type" value="SuccessForm">
            <input type="hidden" name="category_product" value="{{ category_product }}">
            <input class="btn btn-outline-dark btn-sm" type="submit" value="검수완료" style="font-family: 'Nanum Gothic Coding', monospace; font-weight: 300; font-size: 1rem; float: right">
        </div>
        {% endif %}
    </form>{% endcomment %}
<!-- 작업필드 -->
    <form action="{% url 'labelingapp:inspect' %}" method="post" id="SuccessForm">
        {% csrf_token %}
        {% if review_assignment_list %}
        <div style="display: inline-block; border: 1px solid #bcbcbc; width: 70rem; height: 30rem;
        margin: 0.5rem auto; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200; overflow-y: scroll; padding: 0.3rem">
            {% for review, labels in reviews %}
            <p style="height: auto; text-align: left;">
                <div style=" border-bottom:1px solid black; width: 99%; height: auto; margin: auto">
                    <div style="display: inline-block; width: 100%;text-align: left">
                        <input type="hidden" name="full_review" value="{{ review.review_id }}">
                        <input type="checkbox" name="check_review" value="{{ review.review_id }}" checked>
                        {{ review.review_id }}.
                        {{ review.review_content }}<br>
                        {% if labels|length > 0 %}
                            {% for label in labels %}
                                {{ label.first_labeled_emotion }}
                                {{ label.first_labeled_target }}
                                {{ label.first_labeled_expression }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </p>
            {% endfor %}
        </div>



        <!-- 검수완료 버튼 -->
        <div style="width: 70rem; margin: 0.5rem auto;">
            <input type="hidden" name="form-type" value="SuccessForm">
            <input type="hidden" name="category_product" value="{{ category_product }}">
            <input class="btn btn-outline-dark btn-sm" type="submit" value="검수완료" style="font-family: 'Nanum Gothic Coding', monospace; font-weight: 300; font-size: 1rem; float: right">
        </div>
        {% endif %}
    </form>


</div>


<script>
    function delete_inspect_label(label_number) {
        console.log(label_number)
        $.ajax({
            url: 'delete_inspect_label',
            type: 'GET',
            data: {
                'label_number': label_number,
            },
            dataType: 'json',
            success: function (data) {
                console.log(label_number, '삭제 완료')
                window.location.reload()
            },
            error: function (data) {
                console.log('새로고침')
                window.location.reload()
            }
        })
    }

    function delete_label(label_number) {
        console.log(label_number)
        $.ajax({
            url: 'delete_label',
            type: 'GET',
            data: {
                'label_number': label_number,
            },
            dataType: 'json',
            success: function (data) {
                console.log('삭제 완료')
                window.location.reload()
            },
            error: function (data) {
                console.log('에러 발생')
                window.location.reload()
            }
        })
    }

    function inspect_reset(review_id) {
        console.log('초기화를 시작해볼깡?')
        $.ajax({
            url: 'inspect_reset',
            type: 'GET',
            data: {
                'review_id': review_id,
            },
            dataType: 'json',
            success: function (data) {
                console.log('초기화 완료')
                window.location.reload()
            },
            error: function (data) {
                console.log('에러 발생')
                window.location.reload()
            }
        })
    }
</script>
{% endblock %}