p {
    display:inline;
    margin-right: 15px;
}
.product {
    display:flex;
}

.product_add{
    margin-left: 46px;
}
.subject2 {
    display: flex;
    justify-content: space-between;
}

.product_choice > select{
    width: 125px;
    height: 34px;
    border-radius: 5px;
    border: 0.5px solid #D5D5D5;
}

.product_add > .input{
    width: 125px;
    height: 34px;
    border-radius: 5px;
    border: 0.5px solid #D5D5D5;
}

.product_choice > .asdf {
    width: 56px;
    height: 34px;
    background: #F2F2F2;
    margin-left: 15px;
    border-radius: 5px;
    border: 0.5px solid #D5D5D5;
}

.product_add > .asdf{
    width: 56px;
    height: 34px;
    background: #F2F2F2;
    margin-left: 15px;
    border-radius: 5px;
    border: 0.5px solid #D5D5D5;
}

.category {
    margin-top: 31px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #F2F2F2;
;
}

.show_container{
    display: flex;
    flex-direction: column;
    padding: 22px;
    margin-top: 12px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    background: #F8F8F8;
}

.category_value{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 15px;
    gap: 15px;
}

.c_content {
    left: 65px;
    top: 0px;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}

.category_add {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-top: 79px;
}

.category_name {
    height: 34px;
    width: 184px;
    left: 1038px;
    top: 507px;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    margin-right: 5px;
}

.category_color{
    height: 32px;
    width: 32.00166702270508px; 
    left: 1232px;
    top: 508px;
    border-radius: 5px;
    padding: 10px;
    margin-right:7px;
    /* background: url("../img/color.svg") no-repeat; */
    /* background-position: 10px 8px; */
}

.add{
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_plus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 34px;
    width: 56px;
    left: 1277px;
    top: 507px;
    border-radius: 5px;


}

.fileload {
    margin-top: 21px;
    padding-top: 10px;
    border-top: 1px solid #F2F2F2;
}

.upload_title {
    margin-top: 4px;
}

.file_upload {
    display: inline-flex;
    flex-direction: column;
    margin-top: 4px;
    padding: 11px;
    border-radius: 10px;
    background: #F8F8F8;
}

.upload_file {
    height: 34px;
    width: 85px;
    left: 339px;
    top: 626px;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
}

.btn-upload {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    gap: 15px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px; 
}
  
  #file {
    display: none;
  }

  .file_name {
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
    gap: 15px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px; 
    width: 324px;
  }

  .send_btn {
    height: 34px;
    width: 77px;
    left: 768px;
    top: 626px;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    /* Background/dark */
    
    border: 0.5px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;

    background:#6B6B6B ;
  }