/* header */
.header-title {
  display: flex;
  justify-content: right;
  flex-grow: 1;
  height: 60px;
  
}

.header-title-name > a{
  display: flex;
  padding: 40px 0 34px;
  justify-content: center;
  text-align: center;
  color : #585757
}

.nav {
  float:left;
  position:relative;
}

.login_signup {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  text-align: center;
}

.login_btn{
  color: black;
  padding: 12px;
}

.signup_btn {
  color: black;
  padding: 12px;
  margin-right: 10px;
}

.logout_btn {
  color: black;
  padding: 12px;
}
li>img{
  color : #585757;
}
.nav-wrap {
  width: 250px;
  height: 100vh;
  color: #585757;
  background: white
}
.user-profile-login {
  display: flex;
  align-items: center;
  text-align: center;
}

.loginplease{
  display: flex;
  padding: 40px 0 34px;
  justify-content: center;
  text-align: center;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-profile-name {

}

.mypage-img {
}


.menu-pd {
  position:relative;
  padding: 10px 0 10px 61px;
  margin-top: 10px;

}
.menu-pd > a{
  color: #585757;
}
.upload-img,.labeling-img,.list-img,.download-img,.logout-img {
    position: absolute;
    left: 32px;
    top: 15px;
  
}
.menu-pd:hover {
  border-right: 4px solid #A50034;
  color: white;
}
.menu-pd:hover, .logout-btn:hover {
  background: #A50034;
  color : white;
}
.menu-link {
  width: 100%;
  height: 100%;
  
}

.logout-btn {
  position:absolute;
  bottom: 41px;
  width: 200px;
  height: 42px;
  padding: 15px 0;
  margin: 0 25px;
  border-radius: 7px;
}
.logout-btn > a {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* main page */
.content-wrap {
  display:flex;
  flex-direction: column;
}

.content-title {
  display: inline-block;
  width: 500px;
  margin: 40px 0 30px 61px;
}

.first-desc {
  display:flex;
  flex-grow: 1;
  width: auto;
  border: 1px solid #D5D5D5;
  border-radius: 10px;
  margin-right: 75px;
  margin-left: 34px;
}

.first-desc-wrap {
  width: 100%;
  padding: 48px 45px 22px
}

.form-group {
  padding: 5px 0;
}
  /* 
  .user-profile-name{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    padding: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  } */

  .user-profile-name{
    display: flex;
    flex-direction: column;
  }

  .my_profile_modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    right: 30px;
    margin-top: 30px;
    position: absolute;
    width: 300px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    scale: 0;
    transition: 0.5s;
  }

.menu-pd:hover {
  border-right: 4px solid #A50034;
  background: #A50034;
}

.menu-pd:hover > a {
  color: white;
}

.upload-img,.labeling-img,.list-img,.download-img {
  position: absolute;
  left: 32px;
  top: 15px;
  color : #585757; /* 기본 색상 */
}



.menu-pd:hover .upload-img,
.menu-pd:hover .labeling-img,
.menu-pd:hover .list-img,
.menu-pd:hover .download-img {
color : white; /* hover 시 색상 */
}
/* 가운데 배치 */
.user-profile-name, .log {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.log{
  width: 200px;
  height: 42px;
  background-color: #F2F2F2;
  margin: auto;
}