{% extends 'base.html' %}

<!-- content title 부분 -->
{% block content-title %}
<div class="header-nav-wrap">
    <h2 class="content-title fs-large fw-title gray-200">
        Information
    </h2>
    {% if user.is_authenticated %}
    <div class="fw-400 fs-medium">
        <a href="{% url 'mainapp:logout' %}" class="header-signup">Logout</a>
    </div>
    {% else %}    
    <div class="fw-400 fs-medium">
        <a
            class="header-login"
          href="{% url 'mainapp:login' %}?next={{ request.path }}"
          >로그인</a
        >
        <a
            class="header-signup"
          href="{% url 'mainapp:signup' %}?next={{ request.path }}"
          >회원가입</a
        >
    </div>
    {% endif %}
</div>

{% endblock %}

{% block content %}
    <!-- 사용 설명 기재 란(추후 수정 필요) -->
    <div class="first-desc primary-bg gray-100">
        <div class="first-desc-wrap">
            <p>
                User's Guide
            </p>
            <p>
                1. 회원가입 및 로그인을 한다.<br>
                <br>
                2. Data Upload 페이지<br>
                - 제품 선택을 선택하여 해당 제품의 카테고리를 추가 및 삭제한다<br>
                - 제품이 존재하지 않을 경우 제품을 추가한다<br>
                - 제품의 데이터파일을 .csv파일로 추가한다<br>
                <br>
                3. Data Labeling 페이지<br>
                - 클릭 후 작업할 데이터 번호를 지정한 후 불러온다.
                - 댓글 데이터의 단어를 드래그하여 단어가 대상인지 현상인지 선택할 수 있다.<br>
                - 선택된 대상, 현상에 대한 카테고리를 지정한 후 긍정, 부정, 중립을 선택한다.<br>
                - 다음: 다음 데이터로 넘어가며, 이전 데이터는 다시 볼 수 없다.<br>
                - 초기화: 적용시켜 놓았던 것을 모두 해제한다.<br>
                - 버리기: 해당 리뷰를 버린다.<br>
                <br>

                4. Work Status 페이지<br>
                - 제품을 선택하면 총 개수 및 작업완료한 개수를 확인이 가능하다.<br>
                - 테이블 내에 있는 긍정/부정 등 데이터를 누르면 그에 맞는 대상과 현상 원본 데이터를 확인 할 수 있다.<br>
                - 긍정 / 부정 등 카테고리를 클릭하면 내림차순으로 정렬된다.<br>
                - 작업자별 진행 현황버튼을 누르면 작업자별 진행 현황을 볼 수 있다.<br>
                <br>
                4.1 작업자별 work status 페이지<br>
                    - 제품을 선택하면 작업자 별 몇 개의 작업을 완료했는지 나온다.
                    - 작업자별 진행 현황 버튼을 누르면 그래프 형식으로 확인가능하고 그래프 위에 마우스를 올려놓으면 작업자 이름과 작업개수를 확인 할 수있다.<br>
                    <br>    
                5. Data Export 페이지<br>
                - 데이터를 xls 파일로 내보낸다.<br>
            </p>
        </div>
<!--        리뷰할당량 속성 상태변경 버튼(서버적용완료해서 숨겨놓음)-->
<!--         <div>
            <form action="{% url 'mainapp:server' %}" method="post">
                {% csrf_token %}
                <input type="submit" name="server" value="서버적용">
            </form>
        </div> -->
    </div>
{% endblock %}
