<!doctype html>
<html lang="ko">
<!-- <head>태그 받아오기 -->
{% include 'head.html' %}

<body>
{% load static %}
{% load bootstrap4 %}
    <div style="text-align: center; width: 100%; margin: 10rem 5rem 3rem 0rem;">
        <h1 style="display: inline-block;" class="fs-large fw-400">Review Labeling</h1>
        <br>
        <br>
        <div style="width: 25rem; display: inline-block; text-align: left;" class="fw-400">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-info rounded-pill fw-400" value="Login" style="width: 100%; margin-top: 1rem; background-color: #eeeeee; border-color: #eeeeee">
            </form>
        </div>
    </div>

</body>
