{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "mainapp/css/mainPage.css" %}">
{% endblock %}
<!-- content title 부분 -->
{% block content-title %}
<h2 class="content-title fs-large fw-600 gray-200">
    Main Page
</h2>    
{% endblock %}

{% block content %}
    <div class = "firstContent">{% include 'content/first_content.html'%}</div>
    <div class = "secondContent">{% include 'content/secondContent.html' %}</div>
{% endblock %}
