{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static "mainapp/css/mainPage.css" %}">
{% endblock %}
<!-- content title 부분 -->
{% block content-title %}
<div class="header-nav-wrap">
    <h2 class="content-title fs-large fw-title gray-200">
        Main Page
    </h2>
    {% if user.is_authenticated %}
    <div class="fw-400 fs-medium">
        <a href="{% url 'mainapp:logout' %}" class="header-signup">Logout</a>
    </div>
    {% else %}    
    <div class="fw-400 fs-medium">
        <a
            class="header-login"
          href="{% url 'mainapp:login' %}?next={{ request.path }}"
          >로그인</a
        >
        <a
            class="header-signup"
          href="{% url 'mainapp:signup' %}?next={{ request.path }}"
          >회원가입</a
        >
    </div>
    {% endif %}
</div>

{% endblock %}

{% block content %}
    <div class = "firstContent">{% include 'content/first_content.html'%}</div>
    <div class = "secondContent">{% include 'content/secondContent.html' %}</div>
    <div class = "thirdContent">{% include 'content/thirdContent.html' %}</div>
{% endblock %}
