{% extends 'base.html' %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'mainapp/css/workStatus.css' %}?after" />
{% endblock %} {% block content-title %}
<h2 class="content-title fs-large fw-600 gray-200">Data Status</h2>
{% endblock %} {% block content %}
<div class="first-desc primary-bg gray-100">
  <div class="first-desc-wrap">
    <form style="display: inline-block" action="" method="get">
      {% csrf_token %}

      <p class="subject">제품 선택</p>
      <select
        name="category_product"
        onchange="this.form.submit()"
        class="subjectSelect"
      >
        {% for product_name in product_names %}
        <option value="{{ product_name.category_product }}">
          {{ product_name.category_product }}
        </option>
        {% endfor %}
      </select>
    </form>

    <div class="totalBar">
      <div class="right_top top1">총 개수 {{ alltotal }}</div>
      <div class="right_top top2">작업완료 {{ first_num }}</div>
      <div class="right_top top3">검수완료 {{ second_num }}</div>
      <div class="right_top top4">삭제 {{ dummy_num }}</div>
    </div>
  </div>
</div>

{% endblock %}
