{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'mainapp/css/statusCount.css' %}?after" />
{% endblock %}
{% block content %}

    <div class="pop_main" id="pop_main">
      <div class="pop_top">

        <form style="display: inline-block" action="" method="get" class="first" name="afgsgd">
          {% csrf_token %}
          <div class="subject">제품 선택</div>
          <select name="category_product" id="product_select">
              {% for product_name in product_names %}
                  <option value="{{ product_name }}"
                      {% if category_product == product_name %} selected {% endif %}>
                      {{ product_name }}
                  </option>
              {% endfor %}
          </select>
      </form>


          
          <script> // 제품 선택 후 로컬에 저장
            document.addEventListener("DOMContentLoaded", function() {
              var select = document.getElementById("product_select");
              var storedValue = localStorage.getItem("product_select");
              if (storedValue) {
                select.value = storedValue;
              }
              select.addEventListener("change", function() {
                localStorage.setItem("product_select", this.value);
              });
            });
          
            $(document).ready(function() {
              $('#product_select').change(function() {
                $('form[name="afgsgd"]').submit();
              });
            });
          </script>
        
       
        <div class="count_table">
          <table>
            <thead>
              <tr>
                <th style="width:223px">ID</th>
                <th style="width:165px">개수</th>
                <th style="width:144px">비고</th>
              </tr>
            </thead>
            <tbody>
              {% if result %}
              {% for name, count in result %}
              <tr>
                <td style="width:223px">{{ name }} </td>
                <td style="width:165px">{{ count }}</td>
                <td style="width:144px">-</td>
              </tr>
              
              {% endfor %}
              {% endif %}
            <tbody>

          </table>
         
        
        </div>
      </div>
        
    </div>

{% endblock %}