{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'mainapp/css/workStatus.css' %}?after" />
{% endblock %} {% block content-title %}
<h2 class="content-title fs-large fw-600 gray-200">Data Status</h2>
{% endblock %} {% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<div class="first-desc primary-bg gray-100">
  <div class="first-desc-wrap">
    
    <form style="display: inline-block" action="" method="get" name="category_product">
      {% csrf_token %}
      <p class="subject fw-400 fs-base">제품 선택</p>
      <select name="category_product" id="product_select_status">
        {% if selected %}
          <option value="{{ selected }}" selected>{{ selected }}</option>
        {% else %}
          <option value="--제품을 선택하세요--" selected>제품이름을 선택하세요</option>
        {% endif %}
          {% for product_name in product_names %}
            <option value="{{ product_name.category_product }}"
              {% if forloop.first %} selected {% endif %}>
              {{ product_name.category_product }}
            </option>
          {% endfor %}
        
      </select>
    </form>
    
    <form style="display: inline-block" action="" method="get"  name="category_model_name">
      {% csrf_token %}
      <select name="category_model_name" id="model_name_select_status">
        {% if selected_name %}
          <option value="{{ selected_name }}" selected>{{ selected_name }}</option>
        {% else %}
          <option value="--모델명을 선택하세요--" selected>모델이름을 선택하세요</option>
        {% endif %}
        {% for model_name in model_names %}
    
        {% if model_name.model_name %}
          {% if model_name.model_name != "nan" %}
            <option value={"{{ model_name.model_name }},{{selected}}"}>
              {{ model_name.model_name }}
            </option>
          {% endif %}
        {% endif %}
          {% endfor %}
      </select>
    </form>

    <form style="display: inline-block" action="" method="get" name="category_model_code">
      {% csrf_token %}
      <select name="category_model_code" id="model_code_select_status">
        {% if selected_code %}
          <option value="{{ selected_code }}" selected>{{ selected_code }}</option>
        {% else %}
          <option value="--모델명을 선택하세요--" selected>모델코드를 선택하세요</option>
        {% endif %}
        {% for model_code in model_codes %}
    
        {% if model_code.model_code %}
          {% if model_code.model_code != "nan" %}
            <option value={"{{ model_code.model_code }},{{selected}},{{selected_name}}"}>
              {{ model_code.model_code }}
            </option>
          {% endif %}
        {% endif %}
          {% endfor %}
      </select>
    </form>
  
    
   
<script> // 제품 선택
  document.addEventListener("DOMContentLoaded", function() {
    var select = document.getElementById("product_select_status");
    var storedValue = localStorage.getItem("product_select_status");
    if (storedValue) {
      select.value = storedValue;
    }
    select.addEventListener("change", function() {
      localStorage.setItem("product_select_status", this.value);
    });
  });

  
  $(document).ready(function() {
    $('#product_select_status').change(function() {
      $('form[name="category_product"]').submit();
    });
    $('#model_name_select_status').change(function() {
      $('form[name="category_model_name"]').submit();
    });
    $('#model_code_select_status').change(function() {
      $('form[name="category_model_code"]').submit();
    });
  });
</script>

    
    <div class="test">
      <div class="totalBar fw-400 fs-small">
        <div class="right_top top1">총 개수 {{ alltotal }}</div>
        <div class="right_top top2">작업완료 {{ first_num }}</div>
        <div class="right_top top3">남은작업 {{ second_num}}</div>
        <div class="right_top top4">삭제 {{ dummy_num }}</div>
      </div>
      <div class="workStatus_now fw-600 fs-small">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" >
          <path d="M6.00002 6.00008C7.47335 6.00008 8.66669 4.80675 8.66669 3.33341C8.66669 1.86008 7.47335 0.666748 6.00002 0.666748C4.52669 0.666748 3.33335 1.86008 3.33335 3.33341C3.33335 4.80675 4.52669 6.00008 6.00002 6.00008ZM6.00002 7.33342C4.22002 7.33342 0.666687 8.22675 0.666687 10.0001V10.6667C0.666687 11.0334 0.966687 11.3334 1.33335 11.3334H10.6667C11.0334 11.3334 11.3334 11.0334 11.3334 10.6667V10.0001C11.3334 8.22675 7.78002 7.33342 6.00002 7.33342Z" fill="#585757"/>
          </svg>
        <a href="{% url 'mainapp:workstatus_count' %}" 
          onclick={statusls2()}>작업자별 진행 현황 </a>
          <script>
            function statusls2(){
              var workStatus = localStorage.getItem("product_select_status2");
              localStorage.setItem("product_select_status2", "--제품을 선택하세요--");
            }
          </script>
      </div>
    </div>
    <div class="category_wrap">
      <div class="category category_1">
        <div class="category_column  fw-600 fs-small">  
          <table id='myTable'>
            <thead>
              <tr>
                <th> <div class="data_label label1">카테고리</div></th>
                <th><div class="data_label">
                긍정</div></th>
                <th><div class="data_label">
                  부정
                  
                </div></th>
                <th><div class="data_label">
                  중립
                  
                </div></th>
                <th><div class="data_label">
                  총개수
                  
                </div></th>
              </tr>
            </thead>
            <tbody>
              
              {% for category_detail_list, positive, negative, neutral, everything,order in  data %}

              <tr>
                <td><div class="date_space_cut cut1 fw-600 fs-small">
                  <p>{{ category_detail_list }}</p>
                </div>
                </td>
                <td><div class="date_space_cut fw-400 fs-tiny" >
                  <p>
                    {% if selected_code %}
                        <a
                          href="?category_model_code={{ selected_code }},{{selected}},{{selected_name}}&showing_index={{ order }}&showing_type=everything"
                          >{{ positive.count }}</a
                        >
                      {% elif selected_name %}
                        <a
                          href="?category_model_name={{ selected_name }},{{selected}}&showing_index={{ order }}&showing_type=everything"
                          >{{ positive.count }}</a
                        >
                      {% else %}
                        <a
                          href="?category_product={{ category_product }}&showing_index={{ order }}&showing_type=everything&asdfasdf=dkfj"
                          >{{ positive.count }}</a
                        >
                      {% endif %}
                  </p>
                </div>
                </td>
                <td><div class="date_space_cut fw-400 fs-tiny" >
                  <p>
                    {% if selected_code %}
                        <a
                          href="?category_model_code={{ selected_code }},{{selected}},{{selected_name}}&showing_index={{ order }}&showing_type=everything"
                          >{{ negative.count }}</a
                        >
                      {% elif selected_name %}
                        <a
                          href="?category_model_name={{ selected_name }},{{selected}}&showing_index={{ order }}&showing_type=everything"
                          >{{ negative.count }}</a
                        >
                      {% else %}
                        <a
                          href="?category_product={{ category_product }}&showing_index={{ order }}&showing_type=everything&asdfasdf=dkfj"
                          >{{ negative.count }}</a
                        >
                      {% endif %}
                  
                  </p>
                </div>
                </td>
                <td> <!-- 중립 개수 -->
                  <div class="date_space_cut fw-400 fs-tiny">
                    <p>
                      {% if selected_code %}
                        <a
                          href="?category_model_code={{ selected_code }},{{selected}},{{selected_name}}&showing_index={{ order }}&showing_type=everything"
                          >{{ neutral.count }}</a
                        >
                      {% elif selected_name %}
                        <a
                          href="?category_model_name={{ selected_name }},{{selected}}&showing_index={{ order }}&showing_type=everything"
                          >{{ neutral.count }}</a
                        >
                      {% else %}
                        <a
                          href="?category_product={{ category_product }}&showing_index={{ order }}&showing_type=everything&asdfasdf=dkfj"
                          >{{ neutral.count }}</a
                        >
                      {% endif %}
                    </p>
                  </div>
                </td>
                <td><div class="date_space_cut fw-400 fs-tiny">
                  <p>
                    {% if selected_code %}
                      <a
                        href="?category_model_code={{ selected_code }},{{selected}},{{selected_name}}&showing_index={{ order }}&showing_type=everything"
                        >{{ everything.count }}</a
                      >
                    {% elif selected_name %}
                      <a
                        href="?category_model_name={{ selected_name }},{{selected}}&showing_index={{ order }}&showing_type=everything"
                        >{{ everything.count }}</a
                      >
                    {% else %}
                      <a
                        href="?category_product={{ category_product }}&showing_index={{ order }}&showing_type=everything&asdfasdf=dkfj"
                        >{{ everything.count }}</a
                      >
                    {% endif %}
                    
                  </p>
                </div>       
              </td>
              </tr>
              {% endfor %}
          
            </tbody>
          </table> 
        
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        $(document).ready(function() {
          // 긍정/부정 클릭 시 정렬
          $('th:nth-child(2)').click(function() { // 긍정 열
            sortTable(1, 'desc');
          });
          $('th:nth-child(3)').click(function() { // 부정 열
            sortTable(2, 'desc');
          });
          $('th:nth-child(4)').click(function() { // 중립 열
            sortTable(3, 'desc');
          });
          $('th:nth-child(5)').click(function() { // 총개수 열
            sortTable(4, 'desc');
          });
        
          function sortTable(colNum, order) {
            var tbody = $('#myTable tbody');
            var rows = tbody.find('tr').get();
            rows.sort(function(a, b) {
              var aValue = $(a).find('td:eq(' + colNum + ') a').text();
              var bValue = $(b).find('td:eq(' + colNum + ') a').text();
              if (order === 'desc') {
                return bValue - aValue;
              } else {
                return aValue - bValue;
              }
            });
            $.each(rows, function(index, row) {
              tbody.append(row);
            });
          }
        });
        </script>      
      <div class="category category_2">
        <div class="category_target">
          <table>
            <thead class="thead fw-600 fs-small">
              <tr>
                <th><div class="data_label" style="width: 99px;">대상</div></th>
                <th><div class="data_label" style="width: 99px;">현상</div></th>
              </tr>
            </thead>
            <tbody>

              {% for word in box %}
              <tr>
                <td><div class="date_space_cut cut2 fw-400 fs-tiny" style="font-style: normal;
                  
                  ">
                  {{ word.0 }}({{word.2}})
                </div></td>
                <td><div class="date_space_cut cut2 fw-400 fs-tiny" style="font-style: normal;
                  font-weight: 400;
          
                  ">
                  {{ word.1}}
                </div></td>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="category category_3">
        <div class="category_review">
          <table>
            <thead class="thead fw-600 fs-small">
              <tr>
                <th><div class="data_label"
                  >번호</div></th>
                <th><div class="data_label"
                  >데이터</div></th>
              </tr>
            </thead>
            <div>
            <tbody>
              <tr>
                {% for review in labeled_review %}
              </tr>
              <td class="date_space_cut fw-600 fs-small" style="width:67px; padding: 16.5px">
                {{ review.review_number }}
              </td>
              <td class="date_space_cut fw-400 fs-tiny" style="font-style: normal;
              
              ">
                {{ review.review_content }}
              </td>
              {% endfor %}
            </tbody>
          </div>
          </table>                
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}