{% load static %}

<script>
  function labelingls(){
    localStorage.setItem("product_select_labeling", "");
  }

  function uploadls(){
    localStorage.setItem("product_select", "");
  }
  
  function statusls(){
    var workStatus = localStorage.getItem("product_select_status");
    localStorage.setItem("product_select_status", "--제품을 선택하세요--");
  }
</script>


<div id="nav">
  <nav class="nav">
    <h1 class="sr-only">메뉴</h1>
    <div class="nav-wrap">

      {% if user.is_authenticated %}
        <div class="user-profile-login">
          <img src="{{ user.profile.image.url }}" class="profile-img">
          <strong class="fw-600 fs-medium user-profile-name">
              {{ user.username }}
          </strong>
          <a href="{% url 'mainapp:account' user.pk %}" class="mypage-img">
              <img src="{% static 'images/setting.svg' %}" alt="Mypage" >
          </a>
        </div>
        <ul class="fw-400 fs-small">
          <li class="menu-pd">
            <img src="{% static 'images/upload.svg' %}" alt="upload" class="upload-img">
            <a href="{% url 'uploadapp:upload' %}" class="menu-link" onclick={uploadls()}>
              Data Upload
            </a>
          </li>
          <li class="menu-pd">
            <img src="{% static 'images/labeling.svg' %}" alt="labeling" class="labeling-img">
            <a href="{% url 'labelingapp:work' %}" class="menu-link" onclick={labelingls()}>
              Data Labeling</a>
          </li>
          <li class="menu-pd">
            <img src="{% static 'images/list.svg' %}" alt="list" class="list-img">
            <a href="{% url 'mainapp:workstatus' %}" class="menu-link" onclick={statusls()}>
              Work Status</a>
          </li>
          <li class="menu-pd">
            <img src="{% static 'images/download.svg' %}" alt="download" class="download-img">
            <a href="{% url 'outputapp:output' %}" class="menu-link">
              Data Export</a>
          </li>
        </ul>
      {% else %}
      <div class="user-profile-login fw-600 fs-medium loginplease">
        <a href="{% url 'mainapp:login' %}?next={{ request.path }}">로그인 해주세요</a>
      </div>
      <ul class="fw-400 fs-small">
        <li class="menu-pd">
          <img src="{% static 'images/upload.svg' %}" alt="upload" class="upload-img">
          <a href="{% url 'mainapp:login' %}?next={{ request.path }}" onclick={uploadls()}>
            Data Upload
          </a>
        </li>
        <li class="menu-pd">
          <img src="{% static 'images/labeling.svg' %}" alt="labeling" class="labeling-img">
          <a href="{% url 'mainapp:login' %}?next={{ request.path }}" onclick={labelingls()}>
            Data Labeling</a>
        </li>
        <li class="menu-pd">
          <img src="{% static 'images/list.svg' %}" alt="list" class="list-img">
          <a href="{% url 'mainapp:login' %}?next={{ request.path }}" onclick={statusls()}>
            Work Status</a>
        </li>
        <li class="menu-pd">
          <img src="{% static 'images/download.svg' %}" alt="download" class="download-img">
          <a href="{% url 'mainapp:login' %}?next={{ request.path }}">
            Data Export</a>
        </li>
      </ul>

      {% endif %}
    </div>
  </nav>
</div>