{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %} 
{% block style %}
    <link rel="stylesheet" href="{% static 'main/css/account.css' %}" />
{% endblock %}  

{% block content %}

    <div class="update_containor">
      <div class="mb-4">
          <p class="fs-medium fw-400">개인정보 수정</p>
      </div>
    <form action="{% url 'main:update' pk=target_user.pk %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-dark rounded-pill col-6 mt-4">
    </form>
    </div>

{% endblock %}