.subject {
  display: inline-block;
  margin-right: 10px
}

select {
  display: inline-block;
  height: 34px;
  border-radius: 5px;
  border: 0.5px solid #D5D5D5;
}
.all_select{
  text-align: left;
  margin-top: 5px; 
  margin-bottom : 5px;
  background-color: white;
}
.dashboard {
  display: flex;
  flex-direction: row;
  
  margin-top: 20px;
  margin-right: 75px;
}
.category_apply {
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 272px;
  height: 392px;
  padding: 10px;
  overflow: auto;
  margin-right: 10px;
}
.isNagative{
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 448px;
  height: 392px;
  margin-right: 10px;
}
.rawdata{
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 360px;
  height: 392px;
  overflow-y : auto;
}
.frequency{
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 1100px;
  height: 392px;
  margin-right: 10px;
}
.rank{
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 360px;
  height: 392px;
}
.category_ratio{
  padding: 15px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 730px;
  height: 392px;
  margin-right: 10px;
}
.ratio1{
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 360px;
  height: 392px;
}

.apply_box{
  display: flex;
  flex-direction: column;
  
}
.category_item{
  display: flex;
  flex-direction: row;
}
.apply_button {
padding: 5px 10px;
border: 1px solid #ccc;
background-color: #fff;
color: #000;
transition: background-color 0.2s, color 0.2s;
}

.apply_button.on {
background-color: #ff0000;
color: #fff;
}
.rawdata_wrap{
padding: 10px;
margin-bottom: 8px;
border: 1px solid #F6F6F6;
background-color: #F6F6F6;
border-radius: 10px;
}
.rawdata_text{
margin-bottom: 10px;
}

.category_ratio_text{
margin-bottom: 15px;
}


/* 워드클라우드 스위치*/
.isNagative {
  position: relative;
}

.isNagative_title {
  display: inline-block;
  margin-top: 19px;
  margin-left: 23px;
}

.element-to-hide {
  position: absolute;
  left: -9999px;
}
.switch_label {
display: inline-block;
position: absolute;
left: 50%;
translate: -50%;
width: 150px;
height: 54px;
margin-top: 14px;
background: #F0F2F5;
border: 1px solid #F0F2F5;
border-radius: 10px;
transition: 0.2s;
}
.target_btn:hover ,.expression_btn:hover {
cursor: pointer;
}
.target_btn, .expression_btn {
display: flex;
justify-content: center;
align-items: center;
margin: 2px 0;
width: 70px;
height: 48px;
text-align: center;
color: #00000080;
}

.onf_btn {
background-color: #FFFFFF;
color: #A50034;
border: 1px solid #F0F2F5;
border-radius: 10px;
}
#select_pos, #select_neg, #select_neu {
  margin-right: 8px;
}

#cloud {
  width: 388px;
  height: 142px;
  margin: 63px 30px 0 30px;
  position: relative;
  padding: 0;
}   

#cloud svg {
  position: absolute;
  top: 0;
  left: 0;
}

#cloud text {
font-size: 16px;
font-weight: bold;
}

.select_btn {
display: flex;
align-items: center;
justify-content: center;
margin-top: 85px;
}
.select_pos , .select_neg, .select_neu {
display: flex;
align-items: center;
justify-content: center;
width: 72px;
height: 38px;
margin-right: 15px;
border: 1px solid #E0E0E0;
border-radius: 20px;
}
.select_pos > label , .select_neg > label, .select_neu > label {
cursor: pointer;
}
.select_neu {
margin-right: 0;
}
.ratio1_text{
margin-bottom: 15px;

}

/* 클릭한 데이터 색칠 */
.highlight {
  background-color: yellow; 
}



::-webkit-scrollbar {
width: 2px;
}

/* 스크롤바의 배경색을 지정 */
::-webkit-scrollbar-track {
background-color: #f1f1f1;
}

/* 스크롤바 위쪽의 화살표를 지정 */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
height: 0;
}

/* 스크롤바 색상을 지정 */
::-webkit-scrollbar-thumb {
background-color:  #888888;
border-radius: 5px;
}

/* 스크롤바 위쪽의 공간을 지정 */
::-webkit-scrollbar-track-piece {
margin-top: 5px;
}