{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}?after" />
{% endblock %} 

{% block content-title %}
<h2 class="content-title fs-large fw-title gray-200">
  DashBoard
</h2>
{% endblock %} 

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/d3-hierarchy@2.2.0"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-format@2.2.3"></script>

<style>
  .group {
    background-color: #ccc;
    border: 1px solid black;
  }
</style>
<script>
  const arr = [1, 2, 3, 4, 5];
const str = JSON.stringify(arr);
localStorage.setItem('myArray', str);

const str = localStorage.getItem('myArray');
const arr = JSON.parse(str);
console.log(arr);  // [1, 2, 3, 4, 5]

</script>
  <div class="first-desc-wrap" style="padding: 0 45px 22px;">
    <form style="display: inline-block" action="" method="get" name="category_product">
      {% csrf_token %}
      <p class="subject fw-400 fs-base">제품 선택</p>
      <select name="category_product" id="product_select_status">
        {% if selected %}
          <option value="{{ selected }}" selected>{{ selected }}</option>
        {% else %}
          <option value="--제품을 선택하세요--" selected>제품이름을 선택하세요</option>
        {% endif %}
          {% for product_name in product_names %}
            <option value="{{ product_name.category_product }}"
              {% if forloop.first %} selected {% endif %}>
              {{ product_name.category_product }}
            </option>
          {% endfor %}
      </select>
    </form>
    
    <form style="display: inline-block" action="" method="get"  name="category_model_name">
      {% csrf_token %}
      <select name="category_model_name" id="model_name_select_status">
        {% if selected_name %}
          <option value="{{ selected_name }}" selected>{{ selected_name }}</option>
        {% else %}
          <option value="--모델명을 선택하세요--" selected>모델이름을 선택하세요</option>
        {% endif %}
        {% for model_name in model_names %}
    
        {% if model_name.model_name %}
          {% if model_name.model_name != "nan" %}
            <option value={"{{ model_name.model_name }},{{selected}}"}>
              {{ model_name.model_name }}
            </option>
          {% endif %}
        {% endif %}
          {% endfor %}
      </select>
    </form>

    
    <script> // 제품 선택
      document.addEventListener("DOMContentLoaded", function() {
        var select = document.getElementById("product_select_status");
        var storedValue = localStorage.getItem("product_select_status");
        if (storedValue) {
          select.value = storedValue;
        }
        select.addEventListener("change", function() {
          localStorage.setItem("product_select_status", this.value);
          
        });
      });
    
      
      $(document).ready(function() {
        $('#product_select_status').change(function() {
          $('form[name="category_product"]').submit();
        });
        $('#model_name_select_status').change(function() {
          $('form[name="category_model_name"]').submit();
        });
        
      });

      document.getElementById("product_select_status").onchange = function() {
        document.getElementById("selectedProduct").value = this.value;
      };
    </script>
    <div class="dashboard wrap1">
      <div class = "category_apply">
        
        <form id="checked-data-form" action="{% url 'dashboard:dashboard' %}" method="post">
          {% csrf_token %}
          <div class="apply_box">
            <h3 class="apply_text fs-base fw-400" >카테고리</h3>
            <button class ="all_select" type="button" id="select-all">전체선택</button>
            {% for category_detail_list in all_category_list %}
            <div class="category_item">
                <div class="apply_on">
                    <label class="switch">
                      <input type="checkbox" name="checked_data[]" value="{{ category_detail_list }}"
                      {% if not checked_data or category_detail_list in checked_data %} checked {% endif %}>
                          
                        <input type="hidden" name="showing_index" value="{{ order }}" >
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="apply_main">
                    <div>{{ category_detail_list }}</div>
                </div>
            </div>
            {% endfor %}            
          </div>
          <script type='text/javascript'>
            document.getElementById('select-all').addEventListener('click', function() {
                var checkboxes = document.querySelectorAll('input[type=checkbox]');
                var allChecked = Array.from(checkboxes).every(x => x.checked);
                for (var checkbox of checkboxes) {
                  checkbox.checked = !allChecked;
                }
              });
        </script> 
          <input type="hidden" name="selected" id="selectedProduct" value="{{ selected }}">
          <button type="submit">적용하기</button>
        </form>
      </div>
      <div class="isNagative">
        <div>
          <span class="isNagative_title fw-400 fs-base">긍/부정</span>
          <div class="switch_label">
            <label for="target_radio">
              <input type="radio" name="te_radio" id="target_radio" class="element-to-hide">
              <span class="target_btn fs-small fw-600" onclick="toggleOnfBtnClass(); generateWordCloud('target')">대상</span>
            </label>
            <label for="expression_radio">
              <input type="radio" name="te_radio" id="expression_radio" class="element-to-hide">
              <span class="expression_btn fs-small fw-600" onclick="toggleOnfBtnClass(); generateWordCloud('expression')">현상</span>
            </label>
          </div>
          <script>
            const target_radio = document.getElementById("target_radio");
            const expression_radio = document.getElementById("expression_radio");
            const target_btn = document.querySelector(".target_btn");
            const expression_btn = document.querySelector(".expression_btn");

            function toggleOnfBtnClass() {
              const positiveRadio = document.getElementById("select_pos");
              const negativeRadio = document.getElementById("select_neg");
              const neutralRadio = document.getElementById("select_neu");
              if (!target_radio.checked) {
                target_radio.checked = true; // "대상" 라디오 버튼을 선택 상태로 변경
                target_btn.classList.add("onf_btn");
                expression_btn.classList.remove("onf_btn");
                positiveRadio.checked = false;
                negativeRadio.checked = false;
                neutralRadio.checked = false;
              } else if (!expression_radio.checked) {
                expression_radio.checked = true; // "현상" 라디오 버튼을 선택 상태로 변경
                expression_btn.classList.add("onf_btn");
                target_btn.classList.remove("onf_btn");
                positiveRadio.checked = false;
                negativeRadio.checked = false;
                neutralRadio.checked = false;
              }
            }
            function generateWordCloud(type) {
              clearWordCloud();
              const targetData = {{ select_targets_dict | safe }};
              const expressionData = {{ select_expression_dict | safe }};
              const target_positive_dict = {{ target_positive_dict | safe }};
              const target_negative_dict = {{ target_negative_dict | safe }};
              const target_neutral_dict = {{ target_neutral_dict | safe }};
              const expression_positive_dict = {{ expression_positive_dict | safe }};
              const expression_negative_dict = {{ expression_negative_dict | safe }};
              const expression_neutral_dict = {{ expression_neutral_dict | safe }};
              
              let selectedData;

              const isTargetSelected = target_radio.checked;
              const isExpressionSelected = expression_radio.checked;
              

              if (type === 'target') {
                selectedData = targetData;
              } else if (type === 'expression') {
                selectedData = expressionData;
              } else if (type === 'positive') {
                selectedData = isTargetSelected ? filterData(targetData, target_positive_dict) : filterData(expressionData, expression_positive_dict);
              } else if (type === 'negative') {
                selectedData = isTargetSelected ? filterData(targetData, target_negative_dict) : filterData(expressionData, expression_negative_dict);
              } else if (type === 'neutral') {
                selectedData = isTargetSelected ? filterData(targetData, target_neutral_dict) : filterData(expressionData, expression_neutral_dict);
              }
            
              if (type === 'positive') {
                clearWordCloud();
                positiveWordCloud(selectedData);
              } else if (type === 'negative') {
                clearWordCloud();
                negativeWordCloud(selectedData);
              } else if (type === 'neutral') {
                clearWordCloud();
                neutralWordCloud(selectedData);
              }
            }


            function positiveWordCloud(data){ 
              var pos_dict = data;

              var pos_dataset = Object.entries(pos_dict).map(([key, value]) => ({ text: key, size: value }));

              var width = 388,
                height = 142;

              var svg = d3.select("#cloud")
                .append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

              var color = d3.scaleOrdinal(d3.schemeCategory10);

              var layout = d3.layout.cloud()
                .size([width, height])
                .words(pos_dataset)
                .rotate(0)
                .padding(10)
                .fontSize(function (d) { return d.size + 10; })
                .spiral('archimedean')
                .on("end", draw);

              layout.start();

              function draw(words) {
                svg.selectAll("text")
                  .data(words)
                  .enter()
                  .append("text")
                  .style("font-size", function (d) { return d.size + 10 + "px"; })
                  .style("fill", function (d, i) { return color(i); })
                  .attr("text-anchor", "middle")
                  .attr("transform", function (d) { return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")"; })
                  .text(function (d) { return d.text; });
              }
            }

            function negativeWordCloud(data){ 
              var neg_dict = data;

              var neg_dataset = Object.entries(neg_dict).map(([key, value]) => ({ text: key, size: value }));

              var width = 388,
                height = 142;

              var svg = d3.select("#cloud")
                .append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

              var color = d3.scaleOrdinal(d3.schemeCategory10);

              var layout = d3.layout.cloud()
                .size([width, height])
                .words(neg_dataset)
                .rotate(0)
                .padding(10)
                .fontSize(function (d) { return d.size + 10; })
                .spiral('archimedean')
                .on("end", draw);

              layout.start();

              function draw(words) {
                svg.selectAll("text")
                  .data(words)
                  .enter()
                  .append("text")
                  .style("font-size", function (d) { return d.size + 10 + "px"; })
                  .style("fill", function (d, i) { return color(i); })
                  .attr("text-anchor", "middle")
                  .attr("transform", function (d) { return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")"; })
                  .text(function (d) { return d.text; });
              }
            }

            function neutralWordCloud(data){ 
              var neu_dict = data;

              var neu_dataset = Object.entries(neu_dict).map(([key, value]) => ({ text: key, size: value }));

              var width = 388,
                height = 142;

              var svg = d3.select("#cloud")
                .append("svg")
                .attr("width", width)
                .attr("height", height)
                .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

              var color = d3.scaleOrdinal(d3.schemeCategory10);

              var layout = d3.layout.cloud()
                .size([width, height])
                .words(neu_dataset)
                .rotate(0)
                .padding(10)
                .fontSize(function (d) { return d.size + 10; })
                .spiral('archimedean')
                .on("end", draw);

              layout.start();

              function draw(words) {
                svg.selectAll("text")
                  .data(words)
                  .enter()
                  .append("text")
                  .style("font-size", function (d) { return d.size + 10 + "px"; })
                  .style("fill", function (d, i) { return color(i); })
                  .attr("text-anchor", "middle")
                  .attr("transform", function (d) { return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")"; })
                  .text(function (d) { return d.text; });
              }
            }

            function clearWordCloud() {
              d3.select("#cloud > svg").remove();
            }
            function checkedWordCloud(checkbox) {
              if(checkbox.checked) {
                positiveWordCloud();
              } else {
                clearWordCloud();
              }
            }
            function filterData(targetData, specificData) {
              const filteredData = {};
              
              for (const key in targetData) {
                if (key in specificData) {
                  filteredData[key] = targetData[key];
                }
              }
              
              return filteredData;
            }
          </script>
          <div id="cloud"></div>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.3.1/d3.min.js"></script>
          <script src="https://unpkg.com/d3-cloud"></script>
          <div class="select_btn">
            <span class="select_pos">
              <input type="radio" id="select_pos" name="positive" onclick="generateWordCloud('positive')" value="positive">
              <label for="select_pos">긍정</label>
            </span>
            <span class="select_neg">
              <input type="radio" id="select_neg" name="negative" onclick="generateWordCloud('negative')" value="negative">
              <label for="select_neg">부정</label>
            </span>
            <span class="select_neu">
              <input type="radio" id="select_neu" name="neutral" onclick="generateWordCloud('neutral')" value="neutral">
              <label for="select_neu">중립</label>
            </span>
          </div>
          <script>
              const radioButtons = document.querySelectorAll('.select_btn input[type="radio"]');

              radioButtons.forEach((radioButton) => {
                  radioButton.addEventListener('click', (event) => {
                      // 클릭된 라디오 버튼의 값을 가져옴
                      const selectedType = event.target.value;

                      // 모든 라디오 버튼의 체크를 해제
                      radioButtons.forEach((rb) => {
                          rb.checked = false;
                      });

                      // 클릭된 라디오 버튼만 체크
                      event.target.checked = true;
                  });
              });
          </script>
        </div>
      </div>
      <div class ="rawdata fw-400 fs-base">
        <h3 class = "rawdata_text">Raw Data</h3>
        {% for review in select_reviews %}
        <div class="rawdata_wrap">
          <div class="rawdata_item fs-tiny fw-400">
            {{ review }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="dashboard wrap2">
      <div class="frequency">
        <h3 class ="frequency_text fw-400 fs-base">카테고리별 빈도</h3>
        <div class="frequency_box fs-small fw-400"  height="350px">  
          <div id="treemapPositive" style="width:1000px;height:170px;"></div>
          <div id="treemapNegative" style="width:1000px;height:170px;"></div>
        </div>
      </div>
    </div>
    <div class="dashboard wrap3">
      <div class="category_ratio">
        <h3 class="category_ratio_text fw-400 fs-base">카테고리별 긍정/부정</h3>
        <div class="category_ratio_box fs-small fw-400">
          <canvas id="ratio_category" width="500px"height="230px"></canvas>
        </div>
      </div>
      <div class="ratio1">
        <h3 class="ratio1_text fw-400 fs-base">긍/부정 비율</h3>
        <div class="ratio1_box">
          <div class="canvas-container fs-small fw-400">
            <canvas id="ratio" height="230px"></canvas>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script>
      const category_detail_list = {{ category_detail_list|safe }};
      const results_positive = {{ results_positive|safe }};
      const results_negative = {{ results_negative|safe }};
      const results_neutral = {{ results_neutral|safe }};
      const expression_list = {{select_expression|safe}}
      
     
    var colorPalette = d3.scaleOrdinal(d3.schemeCategory10);

      var margin = {top: 10, right: 10, bottom: 10, left: 20},
      width = 1000 - margin.left - margin.right,
      height = 350 - margin.top - margin.bottom;

      var svgPositive = d3.select("#treemapPositive")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      // 부정 트리맵을 위한 SVG 생성
      var svgNegative = d3.select("#treemapNegative")
      .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
      var aggregatedDataPositive = {};
      var aggregatedDataNegative = {};
      for (var i=0; i<category_detail_list.length; i++) {
        aggregatedDataPositive[category_detail_list[i]] = results_positive[i];
        aggregatedDataNegative[category_detail_list[i]] = results_negative[i];
      }

          var dataPositive = [
      { name: "OriginPositive", parent: "", value: "" },
      ...Object.entries(aggregatedDataPositive).filter(([,value]) => value != 0).map(([name,value]) => ({
          name,
          parent: "OriginPositive",
          value,
      })),
    ];

    var dataNegative = [
      { name: "OriginNegative", parent: "", value: "" },
      ...Object.entries(aggregatedDataNegative).filter(([,value]) => value != 0).map(([name,value]) => ({
          name,
          parent: "OriginNegative",
          value,
      })),
    ];
      
      // 긍정 트리맵 생성
      var treemapPositive = d3.treemap()
      .size([width, height/2])
      .padding(4);

      // 부정 트리맵 생성
      var treemapNegative = d3.treemap()
      .size([width, height/2])
      .padding(4);

      var rootPositive = d3.stratify()
      .id(function(d) { return d.name; })   
      .parentId(function(d) { return d.parent; })   
      (dataPositive);
      rootPositive.sum(function(d) { return +d.value })  
      
      
      
      d3.treemap()
      .size([width, height/2])  // height를 2로 나누어 긍정과 부정 트리맵을 위아래로 배치
      .padding(4)
      (rootPositive)

      var rootNegative = d3.stratify()
      .id(function(d) { return d.name; })   
      .parentId(function(d) { return d.parent; })   
      (dataNegative);
      rootNegative.sum(function(d) { return +d.value })   

      d3.treemap()
      .size([width, height/2])  // height를 2로 나누어 긍정과 부정 트리맵을 위아래로 배치
      .padding(4)
      (rootNegative)

      var maxLength = 10; 
      var top6Positive = rootPositive.leaves().slice(0, 6);
      var top6Negative = rootNegative.leaves().slice(0, 6);
      var colorScalePositive = d3.scaleOrdinal()
    .domain(top6Positive.map(function(d) { return d.data.name; }))
    .range(d3.schemeCategory10);

  var colorScaleNegative = d3.scaleOrdinal()
    .domain(top6Negative.map(function(d) { return d.data.name; }))
    .range(d3.schemeCategory10);
      treemapPositive(rootPositive);
      svgPositive.selectAll(".rectPositive")
      .data(top6Positive)
      .enter()
      .append("rect")
      .attr('x', function (d) { return d.x0; })
      .attr('y', function (d) { return d.y0; })
      .attr('width', function (d) { return d.x1 - d.x0; })
      .attr('height', function (d) { return d.y1 - d.y0; })
      .style("stroke", "black")
      .style("fill", function (d) {
        return colorScalePositive(d.data.name);
      })
      .on("click", function (d) {
        var clickedName = d.srcElement.__data__.data.name;
        $(".rawdata_item").removeClass("highlight");

        $.ajax({
          url: '/dashboard/',
          method: 'POST',
          data: { treemap_name: clickedName },
          success: function (response) {
            console.log(response.selected_reviews);

            response.selected_reviews.forEach(function (selectedReview) {
              var selectedReviewText = selectedReview.trim();

              $(".rawdata_item").each(function () {
                  var reviewText = $(this).text().trim();
                  if (reviewText === selectedReviewText) {
                      $(this).addClass("highlight");
                  }
              });
            });
          },
          error: function (error) {
            console.error(error);
          }
        });
      });

      treemapNegative(rootNegative);
      svgNegative.selectAll(".rectNegative")
      .data(top6Negative)
      .enter()
      .append("rect")
      .attr('x', function (d) { return d.x0; })
      .attr('y', function (d) { return d.y0; })
      .attr('width', function (d) { return d.x1 - d.x0; })
      .attr('height', function (d) { return d.y1 - d.y0; })
      .style("stroke", "black")
      .style("fill", function (d) {
        return colorScaleNegative(d.data.name);
      })
      .on("click", function (d) {
        var clickedName = d.srcElement.__data__.data.name;
        $(".rawdata_item").removeClass("highlight");

        $.ajax({
          url: '/dashboard/',
          method: 'POST',
          data: { treemap_name: clickedName },
          success: function (response) {
            console.log(response.selected_reviews);

            response.selected_reviews.forEach(function (selectedReview) {
              var selectedReviewText = selectedReview.trim();

              $(".rawdata_item").each(function () {
                  var reviewText = $(this).text().trim();
                  if (reviewText === selectedReviewText) {
                      $(this).addClass("highlight");
                  }
              });
            });
          },
          error: function (error) {
            console.error(error);
          }
        });
      });

      svgPositive.selectAll("textPositive")
      .data(rootPositive.leaves())
      .enter()
      .append("text")
      .attr("x", function (d) {
        return d.x0 + 5;
      })
      .attr("y", function (d) {
        return d.y0 + 15;
      })
      .text(function (d) {
        var text = d.data.name;
        if(text.length > maxLength) { 
          text = text.substring(0,maxLength)+"..."; 
        }
        return text;
      })
      .attr("font-size", "10px")
      .attr("fill", "white")
      .style('display', function(d){
        return d.x1 - d.x0 > this.getComputedTextLength() ? 'block' : 'none';
      });

      svgNegative.selectAll("textNegative")
      .data(rootNegative.leaves())
      .enter()
      .append("text")
      .attr("x", function (d) {
        return d.x0 + 5;
      })
      .attr("y", function (d) {
        return d.y0 + 15;  // y 위치를 아래로 이동하지 않음
      })
      .text(function (d) {
        var text = d.data.name;
        if(text.length > maxLength) { 
          text = text.substring(0,maxLength)+"..."; 
        }
        return text;
      })
      .attr("font-size", "10px")
      .attr("fill", "white")
      .style('display', function(d){
        return d.x1 - d.x0 > this.getComputedTextLength() ? 'block' : 'none';
      });
      


      //  누적막대그래프
  

      let stackedDataset = [
        {
          label: 'Positive',
          data: results_positive,
          backgroundColor: '#1f77b4'
        },
        {
          label: 'Negative',
          data: results_negative,
          backgroundColor: '#d62728'
        },
        {
          label: 'Neutral',
          data: results_neutral,
          backgroundColor: '#7f7f7f'
        }
      ];
            
      let numData = category_detail_list.length; // 데이터 개수
      const barThickness = numData <= 3 ? 100 : 'flex';

      new Chart(document.getElementById("ratio_category"), {
        type: 'bar',
        data: {
          labels: category_detail_list,
            datasets: stackedDataset.map(dataset => ({
      ...dataset,
      barThickness
      }))
          },
          
          options: {
            scales: {
              x: {
                stacked: true
              },
              y: {
                stacked: true
              }
            },
            
          }
        });

      //도넛형 그래프
      
      let positiveSum = results_positive.reduce((a, b) => a + b, 0);
      let negativeSum = results_negative.reduce((a, b) => a + b, 0);
      let neutralSum = results_neutral.reduce((a, b) => a + b, 0);
      
      
      let ctx = document.getElementById("ratio").getContext("2d");
      let pieChart = new Chart(ctx, {
        type: "doughnut", 

        data: {
          labels: ["Positive", "Negative", "Neutral"],
          datasets: [
            {
              data: [positiveSum, negativeSum, neutralSum],
              backgroundColor: ["#1f77b4", "#d62728", "#7f7f7f"],
            },
          ],
        },
        options: {
          responsive: true,
          scales: {
            x: { display: false },
            y: { display: false }
          },
          plugins: {
            legend: false
          }
        }
      });
    </script>
  </div>
{% endblock %}
