.content-title {
  width: 135px;
  height: 24px;
  font-weight: 600;
  font-style: normal;
}

.subject {
  display: inline-block;
  margin: 41px 15px 0 55px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.subjectSelect {
  display: inline-block;
  height: 34px;
  margin-top: 36px;
  padding: 5px 39px 5px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.totalBar {
  display: inline-block;
  margin-top: 41px;
  float: right;
  white-space: nowrap;
}
.right_top {
  display: inline-block;
  width: 108px;
  height: 24px;
  text-align: center;
  border-radius: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.right_top.top1 {
  background: #e6e6e6;
  color: #464646;

  margin-right: 15px;
}
.right_top.top2 {
  background: #ebf6ff;
  color: #15476d;
  margin-right: 15px;
}

.right_top.top3 {
  background: #f6fff6;
  color: #158212;
  margin-right: 15px;
}
.right_top.top4 {
  background: #ffeef0;
  color: #6e1b20;

  margin-right: 27px;
}
